.vscode
venv/
graphs/research/user_reports/
graphs/research/user_reports/pngs
graphs/research/test_reports/
__pycache__

documents/reports/*
!documents/reports/README.txt
documents/csv/*
!documents/csv/README.txt
documents/text/full_output/*
!documents/text/full_output/README.txt
documents/text/group_output/*
!documents/text/group_output/README.txt
documents/text/grouped_output/*
!documents/text/grouped_output/README.txt
documents/text/names/*
!documents/text/names/README.txt

images/groupStorageCharts/*
!images/groupStorageCharts/README.txt
images/userStorageCharts/*
!images/userStorageCharts/README.txt
images/batches/*
!images/batches/README.txt

images/graphs
