.vscode
venv/
graphs/research/user_reports/
graphs/research/user_reports/pngs
graphs/research/test_reports/
__pycache__

documents/csv/*
!documents/csv/README.txt

documents/reports/*
!documents/reports/README.txt

documents/text/*
!documents/text/README.txt

images/groupStorageCharts/*
!images/groupStorageCharts/README.txt
images/userStorageCharts/*
!images/userStorageCharts/README.txt
images/batches/*
!images/batches/README.txt

images/graphs
